# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(low = 1, high = 4 + 1, size = 100))
s2 = pd.Series(np.random.randint(low = 1, high = 3 + 1, size = 100))
s3 = pd.Series(np.random.randint(low = 10000, high = 30000 + 1, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [30]:
df = pd.concat([s1, s2, s3], axis = 1)
df.head()

   0  1      2
0  4  2  24829
1  2  1  14405
2  4  1  19512
3  4  1  21990
4  1  1  23834

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [31]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

### == Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'==

In [43]:
bigcolumn = pd.concat([s1, s2, s3], axis = 0).to_frame()
type(bigcolumn)

pandas.core.frame.DataFrame

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [44]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [45]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        4
1        2
2        4
3        4
4        1
..     ...
295  22453
296  10624
297  28220
298  10847
299  15018

[300 rows x 1 columns]

       bathrs  price_sqr_meter
bedrs
4           2            24829
2           1            14405
4           1            19512
4           1            21990
1           1            23834
...       ...              ...
4           3            22453
3           1            10624
2           2            28220
2           3            10847
2           2            15018

[100 rows x 2 columns]

Signature:
bigcolumn.rename(
    mapper=None,
    index=None,
    columns=None,
    axis=None,
    copy=True,
    inplace=False,
    level=None,
    errors='ignore',
)
Docstring:
Alter axes labels.

Function / dict values must be unique (1-to-1). Labels not contained in
a dict / Series will be left as-is. Extra labels listed don't throw an
error.

See the :ref:`user guide <basics.rename>` for more.

Parameters
----------
mapper : dict-like or function
    Dict-like or functions transformations to apply to
    that axis' values. Use either ``mapper`` and ``axis`` to
    specify the axis to target with ``mapper``, or ``index`` and
    ``columns``.
index : dict-like or function
    Alternative to specifying axis (``mapper, axis=0``
    is equivalent to ``index=mapper``).
columns : dict-like or function
    Alternative to specifying axis (``mapper, axis=1``
    is equivalent to ``columns=mapper``).
axis : int or str
    Axis to target with ``mapper``. Can be either the axis name
    ('index', 'columns') or number (0, 1). The default is 'index'.
copy : bool, default True
    Also copy underlying data.
inplace : bool, default False
    Whether to return a new DataFrame. If True then value of copy is
    ignored.
level : int or level name, default None
    In case of a MultiIndex, only rename labels in the specified
    level.
errors : {'ignore', 'raise'}, default 'ignore'
    If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
    or `columns` contains labels that are not present in the Index
    being transformed.
    If 'ignore', existing keys will be renamed and extra keys will be
    ignored.

Returns
-------
DataFrame
    DataFrame with the renamed axis labels.

Raises
------
KeyError
    If any of the labels is not found in the selected axis and
    "errors='raise'".

See Also
--------
DataFrame.rename_axis : Set the name of the axis.

Examples
--------

``DataFrame.rename`` supports two calling conventions

* ``(index=index_mapper, columns=columns_mapper, ...)``
* ``(mapper, axis={'index', 'columns'}, ...)``

We *highly* recommend using keyword arguments to clarify your
intent.

Rename columns using a mapping:

>>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
>>> df.rename(columns={"A": "a", "B": "c"})
   a  c
0  1  4
1  2  5
2  3  6

Rename index using a mapping:

>>> df.rename(index={0: "x", 1: "y", 2: "z"})
   A  B
x  1  4
y  2  5
z  3  6

Cast index labels to a different type:

>>> df.index
RangeIndex(start=0, stop=3, step=1)
>>> df.rename(index=str).index
Index(['0', '1', '2'], dtype='object')

>>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
Traceback (most recent call last):
KeyError: ['C'] not found in axis

Using axis-style parameters

>>> df.rename(str.lower, axis='columns')
   a  b
0  1  4
1  2  5
2  3  6

>>> df.rename({1: 2, 2: 4}, axis='index')
   A  B
0  1  4
2  2  5
4  3  6
File:      /opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method